node_modules
venv
*-lock.json
web/media
*.pyc
__pycache__
web/.env
flaxdb/backend/.env
perilladb/backend/.env
safflowerdb/backend/.env
sesamedb/backend/.env
sunnfcdb/backend/.env
.vscode
.cache
build
.qwen
*.docx
*.ini
*.log
*.bak
*.tmp
*.swp
*.pid
*.htaccess
